<html>
    <body>
        <form action="/email/submit-email" method="post">
            <label for="nama">Enter name: </label>
            <input id="nama" type="text" name="nama" required>
            <label for="email">Enter email: </label>
            <input id="email" type="text" name="email" required>
            {% csrf_token %}
            <input type="submit">
        </form>
    </body>
</html>