body { 
  padding-top: 30px; 
}
#intro{
  background-color: #f4511e; /* Orange */
  color: #ffffff;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding: 100px 25px;
  margin-bottom: 0;
}
#cek-layar{
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 0;
  color: #ffffff;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #6da5c7;
}
#location{
  color: #ffffff;
  background-color: #f4511e;  
  padding-top: 50px;
  margin-bottom: 0;
}
#location h2{
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
footer .glyphicon {
  font-size: 30px;
  margin-bottom: 0;
  color: #ffffff;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#footer{
  background-color: #6da5c7;
  color: #ffffff;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}