{% load staticfiles %} {% load static %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Berlayar.ga</title>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/berlayarga.css' %}"
    />

    <!--
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    -->
    <!--
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    -->
    <!--
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
      function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById("txt").innerHTML = h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
      }
      function checkTime(i) {
        if (i < 10) {
          i = "0" + i;
        } // add zero in front of numbers < 10
        return i;
      }
    </script>

    <script>
      $(document).ready(function() {
        // Add smooth scrolling to all links
        $("a").on("click", function(event) {
          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = this.hash;

            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $("html, body").animate(
              {
                scrollTop: $(hash).offset().top
              },
              800,
              function() {
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              }
            );
          } // End if
        });
      });
    </script>
  </head>
  <body
    onload="startTime()"
    id="main-view"
    data-spy="scroll"
    data-target=".navbar"
    data-offset="60"
  >
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span> <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#main-view">Berlayar.ga</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#cek-layar">Cek Pelayaran</a></li>
            <li><a href="#location">Lokasi</a></li>
            <li>
              <a href="#" data-toggle="modal" data-target="#exampleModal">
                Berlangganan Email
              </a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="exampleModalLabel">
              Berlangganan Email
            </h4>
          </div>
          <form action="/email/submit-email" method="post">
            <div class="modal-body">
              <label for="nama">Masukkan Namamu: </label>
              <input
                class="form-control"
                id="nama"
                type="text"
                name="nama"
                required
              /><br />
              <label for="email">Masukkan Emailmu: </label>
              <input
                class="form-control"
                id="email"
                type="text"
                name="email"
                required
              />
              {% csrf_token %}
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <input type="submit" class="btn btn-primary" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="jumbotron text-center" id="intro">
      <h1>Berlayar.ga</h1>
      <p>Cek, Aman, Berlayar</p>
    </div>
    <div class="jumbotron" id="cek-layar">
      <div class="container">
        <h2>
          Waktu sekarang :
          <div id="txt"></div>
        </h2>
        <p>
          Keamanan adalah hal utama yang harus diperhatikan. Prediksi pelayaran
          tidak menjamin keamanan, tetapi dapat mengurangi resiko bencana. Cek
          pelayaran sekarang:
        </p>

        <p>
          {% if info_dict %}
          <center>
            <a href="/"
              ><button class="btn btn-primary btn-lg">Kembali</button></a
            >
          </center>
          <center>
            <h2>{{ info_dict }}</h2>
          </center>
          {% else %}
          <center>
            <a href="check_info"
              ><button class="btn btn-primary btn-lg">Cek!</button></a
            >
          </center>
          {% endif %}
        </p>
      </div>
    </div>

    <div class="jumbotron text-center" id="location">
      <div class="container">
        <h2>Lokasi prediksi pelayaran:</h2>
        <center>
          <div
            class="center"
            id="googleMap"
            style="width:500px;height:500px;"
          ></div>
        </center>
      </div>
    </div>

    <script>
      function myMap() {
        var mapProp = {
          center: new google.maps.LatLng(-7.7295193, 108.9923682),
          zoom: 14.3
        };
        var map = new google.maps.Map(
          document.getElementById("googleMap"),
          mapProp
        );
        var marker = new google.maps.Marker({
          position: { lat: -7.731075, lng: 108.993611 },
          map: map,
          title: "Pelabuhan Tanjung Intan Cilacap"
        });
      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7i4CKvZemiL3VjAc6k9uGGXhCEHDaWeY&callback=myMap"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
  </body>

  <footer id="footer" class="container-fluid text-center">
    <a href="#main-view" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <h4>Berlayar.ga Oleh Brainless</h4>
  </footer>
</html>
